body {
  background-image: url("piano-1655558_1920.jpg");
}

.padding-10 {
  padding: 10px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-3 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-4 {
  background-color: #8c9a9e; /* Nice Steel Blue */
  color: #ffffff;
}

.shadow {
  background-color: #6a7477; /* Dark Nice Steel Blue */
}

#myTable {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 1200px){
  .container {
    width: 70%;
  }
}

@media (min-width: 1500px){
  .container {
    width: 50%;
  }
}


td {
  background-color: white;
}

.colors {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.red-color {
  background-color: red;
}

.blue-color {
  background-color: blue;
}

.yellow-color {
  background-color: yellow;
  color: black;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.width-50 {
  text-align: center;
  max-width: 50%;
}

/* Navigation Bar */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

/* Dropdown Button */
.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
