<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sound To 2D Image</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-default">
   <div class="container">
     <div class="navbar-header">
       <a class="navbar-brand text-center">Sound to 2D Image Project</a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
           <a href="#" class="dropbtn">Project Members</a>
           <div class="dropdown-content no-letter-spacing">
             <a href="#">Thomas Dove</a>
             <a href="#">Thomas Heap</a>
             <a href="#">Anna Stedman</a>
             <a href="#">Daniel Namu-Fetha</a>
           </div>
         </li>
       </ul>
     </div>
   </div>
  </nav>

  <!-- Green box (instruction box) -->
  <div class="container-fluid bg-1 text-center">
    <h3>Choose an impage to upload</h3>
    <p>Accepted image formats: JPG, PNG (others haven't been tested)</p>
  </div>

  <div class="container-fluid bg-4 text-center">

    <h3>Need help hearing the colours?</h3>
    <p>Click on the colours below to hear what they sound like!</p>

    <div class="row padding-10 shadow">
      <div class="col-sm-4">
        <div id="red" class="colors red-color">Red</div>
      </div>
      <div class="col-sm-4">
        <div id="blue" class="colors blue-color">Blue</div>
      </div>
      <div class="col-sm-4">
        <div id="yellow" class="colors yellow-color">Yellow</div>
      </div>
    </div>
  </div>

  <!-- File upload box (where user can browse through their files) -->
  <div class="container-fluid bg-2 text-center padding-10">
    <!-- The whole image uploading group -->
    <div class="input-group">
      <!-- The button that opens up the file browser -->
      <label class="input-group-btn" style="margin: 10px;">
        <span class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
           Browse images <input type="file" accept="image/jpg, image/png" style="display: none;"  onchange="readURL(this);">
        </span>
      </label>
      <!-- Input box displaying user selected image -->
      <input id="fileName" class="form-control" readonly="" type="text" disabled>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center padding-10">
    <img id="myImage" src="#" alt="Selected image" />
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../static/app.js"></script>

</body>

</html>
