<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sound To 2D Image</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-default">
   <div class="container">
     <div class="navbar-header">
       <a class="navbar-brand text-center">Sound to 2D Image Project</a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
           <a href="#" class="dropbtn">Project Members</a>
           <div class="dropdown-content no-letter-spacing">
             <a href="#">Thomas Dove</a>
             <a href="#">Thomas Heap</a>
             <a href="#">Anna Stedman</a>
             <a href="#">Daniel Namu-Fetha</a>
           </div>
         </li>
       </ul>
     </div>
   </div>
  </nav>

  <div class="container">

  <!-- Green box (instruction box) -->
  <div class="container-fluid bg-1 text-center">
    <h3>Choose an impage to upload</h3>
    <p>Accepted image formats: JPG, PNG (others haven't been tested)</p>
  </div>

  <div class="container-fluid bg-4 text-center">

    <h3>Need help hearing the colours?</h3>
    <p>Click on the colours below to hear what they sound like!</p>

    <div class="row padding-10 shadow">
      <div class="col-sm-2">
      </div>

      <div class="col-sm-1">
        <div id="black" class="colors" style="background:black;">B</div>
      </div>
      <div class="col-sm-1">
        <div id="blue" class="colors blue-color">B</div>
      </div>
      <div class="col-sm-1">
        <div id="green" class="colors" style="background:green;">G</div>
      </div>
      <div class="col-sm-1">
        <div id="cyan" class="colors black-text" style="background:cyan;">C</div>
      </div>
      <div class="col-sm-1">
        <div id="red" class="colors red-color">R</div>
      </div>
      <div class="col-sm-1">
        <div id="magenta" class="colors" style="background:magenta;">M</div>
      </div>
      <div class="col-sm-1">
        <div id="yellow" class="colors yellow-color">Y</div>
      </div>
      <div class="col-sm-1">
        <div id="white" class="colors black-text" style="background:white;">W</div>
      </div>

      <div class="col-sm-2">
      </div>
    </div>
  </div>

  <!-- File upload box (where user can browse through their files) and matrix -->
  <div class="container-fluid bg-2 text-center padding-10">
    <!-- The whole image uploading group -->
    <div class="input-group">
      <!-- The button that opens up the file browser -->
      <label class="input-group-btn" style="margin: 10px;">
        <span class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
           Browse images <input type="file" accept="image/jpg, image/png" style="display: none;"  onchange="readURL(this);">
        </span>

      </label>
      <!-- Input box displaying name of user selected image -->
      <input id="fileName" class="form-control" readonly="" type="text" disabled>
      <span id="viewSwitch" class="input-group-btn"><span class="btn btn-default">Switch between matrix and image</span></span>
    </div>

  </div>

  <div class="container-fluid bg-3 text-center padding-10">
    <img id="myImage" src="#" alt="Selected image" />

    <div class="container-fluid" id="myTable">

      <div class="row">
        <div id="00" class="col-sm-3 padding-10 musicBox"></div>
        <div id="01" class="col-sm-3 padding-10 musicBox"></div>
        <div id="02" class="col-sm-3 padding-10 musicBox"></div>
        <div id="03" class="col-sm-3 padding-10 musicBox"></div>
      </div>
      <div class="row">
        <div id="10" class="col-sm-3 padding-10 musicBox"></div>
        <div id="11" class="col-sm-3 padding-10 musicBox"></div>
        <div id="12" class="col-sm-3 padding-10 musicBox"></div>
        <div id="13" class="col-sm-3 padding-10 musicBox"></div>
      </div>
      <div class="row">
        <div id="20" class="col-sm-3 padding-10 musicBox"></div>
        <div id="21" class="col-sm-3 padding-10 musicBox"></div>
        <div id="22" class="col-sm-3 padding-10 musicBox"></div>
        <div id="23" class="col-sm-3 padding-10 musicBox"></div>
      </div>
      <div class="row">
        <div id="30" class="col-sm-3 padding-10 musicBox"></div>
        <div id="31" class="col-sm-3 padding-10 musicBox"></div>
        <div id="32" class="col-sm-3 padding-10 musicBox"></div>
        <div id="33" class="col-sm-3 padding-10 musicBox"></div>
      </div>

    </div>

  </div>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../static/app.js"></script>

</body>

</html>
